.hero .hero-content p{
    @media(min-width: 968px){
        max-width: 700px ;
    }
    max-width: 400px;
}
.rounded-circle{
    border-radius: 0!important;
}
.pp-toolip{
    font-family: 'Vazir-FD-WOL', sans-serif!important;
}
::selection{
    color:white!important;
}
.btn-primary{
    
    background:#101957!important;
    border:1px solid #101957;
}
.w-lg-30{
    @media (min-width:1200px) {
        width: 40%!important;
    }
} 